doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/css/bulma.css', rel='stylesheet')

  body
    nav.nav
      .container
        .nav-left
          a.nav-item LA1TV Elections Map

  .container
    block content

  script(src='/js/jquery/jquery-2.0.3.js')
  script(src='/socket.io/socket.io.js')
  block js
